#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-ui-bottom-left .esri-expand__content {
  bottom: 50px !important;
  left: 0 !important;
}

.esri-expand__content--expanded {
  min-width: 200px;
}

div.esri-button {
  margin: 5px;
}

.esri-view-height-small .esri-ui-corner .esri-component .esri-expand__content {
  max-height: 500px !important;
}
